body {
    background-color: #181414;
    margin: 0;
    overflow:hidden; 
}

button {
    background-color: #0a0808;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.homeButton {
    opacity: 0.6;
    margin-top: 0px;
    margin-right: 10px;
    font-size: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 15px;
    right: 230px;
}

.projectsButton {
    opacity: 0.6;
    margin-top: 0px;
    margin-right: 10px;
    font-size: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.contactButton{
    opacity: 0.6;
    margin-top: 0px;
    margin-right: 10px;
    font-size: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 15px;
    right: 125px;
}

.homeButton:hover,
.contactButton:hover,
.projectsButton:hover {
    opacity: 0.8;
    transition: opacity 150ms;
}

.contactLink,
.projectsLink,
.homeLink {
    text-decoration: inherit;
    color: inherit;
}

.contactLink:hover,
.projectsLink:hover,
.homeLink:hover {
    text-decoration: underline;
    transition: text-decoration 150ms;
}

.nameText {
    margin-top: 250px;
    margin-bottom: 0px;
    font-size: 150px;
    color: white;
    font-family: 'Ubuntu';
}

.description {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 1000px;
    color: rgba(255, 255, 255, 0.587);
    font-family: 'Ubuntu';
    font-size: 30px;
}

.experience {
    margin-top: 150px;
    margin-bottom: 0px;
    width: calc(50% - 10px);
    color: rgba(255, 255, 255, 0.587);
    font-family: 'Ubuntu';
    font-size: 30px;
    text-align: left;
}

.cppIMG {
    margin-top: -263px;
    margin-bottom: 0px;
    margin-left: 480px;
    scale: 30%;
    image-rendering: optimizeQuality;
    float: left;
}

.javaIMG {
    margin-top: -263px;
    margin-bottom: 0px;
    margin-left: -290px;
    scale: 30%;
    image-rendering: optimizeQuality;
    float: left;
}